In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib inline
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

# Load the dataset
data = pd.read_csv('heart.csv')

# Separate the features and target variable
X = data.drop('target', axis=1)
y = data['target']

# Apply Chi-Square feature selection to select the top 10 features
selector = SelectKBest(chi2, k=10)
selector.fit(X, y)

# Get the indices of the selected features
mask = selector.get_support()
selected_features = X.columns[mask]

# Print the selected features
print(selected_features)

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'thalach', 'exang', 'oldpeak',
       'slope', 'ca'],
      dtype='object')

In [7]:
heart_disease = data[selected_features]

In [8]:
heart_disease

      age  sex  cp  trestbps  chol  thalach  exang  oldpeak  slope  ca
0      52    1   0       125   212      168      0      1.0      2   2
1      53    1   0       140   203      155      1      3.1      0   0
2      70    1   0       145   174      125      1      2.6      0   0
3      61    1   0       148   203      161      0      0.0      2   1
4      62    0   0       138   294      106      0      1.9      1   3
...   ...  ...  ..       ...   ...      ...    ...      ...    ...  ..
1020   59    1   1       140   221      164      1      0.0      2   0
1021   60    1   0       125   258      141      1      2.8      1   1
1022   47    1   0       110   275      118      1      1.0      1   1
1023   50    0   0       110   254      159      0      0.0      2   0
1024   54    1   0       120   188      113      0      1.4      1   1

[1025 rows x 10 columns]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
# apply model "Naive Bayes"
from sklearn.naive_bayes import GaussianNB

In [12]:
modelgnb = GaussianNB()
modelgnb.fit(X_train, y_train)

modelgnb.score(X_test, y_test)

0.8390243902439024

In [13]:
y_pred = modelgnb.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"% (X_test.shape[0], (y_test != y_pred).sum()))

Number of mislabeled points out of a total 205 points : 33