In [28]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif
import matplotlib.pyplot as plt
from matplotlib import rcParams
from matplotlib.cm import rainbow
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

# Load the dataset
data = pd.read_csv('heart.csv')

# Separate the features and target variable
X = data.drop('target', axis=1)
y = data['target']

# Apply Information Gain feature selection to select the top 10 features
selector = SelectKBest(mutual_info_classif, k=10)
selector.fit(X, y)

# Get the indices of the selected features
mask = selector.get_support()
selected_features = X.columns[mask]

# Print the selected features
print(selected_features)

Index(['age', 'cp', 'trestbps', 'chol', 'thalach', 'exang', 'oldpeak', 'slope',
       'ca', 'thal'],
      dtype='object')

In [29]:
dataset = data[selected_features]

In [30]:
dataset

      age  cp  trestbps  chol  thalach  exang  oldpeak  slope  ca  thal
0      52   0       125   212      168      0      1.0      2   2     3
1      53   0       140   203      155      1      3.1      0   0     3
2      70   0       145   174      125      1      2.6      0   0     3
3      61   0       148   203      161      0      0.0      2   1     3
4      62   0       138   294      106      0      1.9      1   3     2
...   ...  ..       ...   ...      ...    ...      ...    ...  ..   ...
1020   59   1       140   221      164      1      0.0      2   0     2
1021   60   0       125   258      141      1      2.8      1   1     3
1022   47   0       110   275      118      1      1.0      1   1     2
1023   50   0       110   254      159      0      0.0      2   0     2
1024   54   0       120   188      113      0      1.4      1   1     3

[1025 rows x 10 columns]

In [31]:
X = dataset

In [32]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [33]:
#Train,Test,Split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.2, stratify = y,random_state = 2)

In [34]:
#Model Development
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors = 3)

In [35]:
model.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=3)

In [36]:
#Finding the accuracy score on training dataset
from sklearn.metrics import accuracy_score
X_train_prediction = model.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction, Y_train)
train_data_accuracy

0.9926829268292683

In [37]:
#Finding the accuracy score on test dataset
from sklearn.metrics import accuracy_score
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
test_data_accuracy

0.9365853658536586

In [38]:
#Predicting system
from sklearn.preprocessing import StandardScaler
data = (62,0,138,294,106,0,1.9,1,3,2)
data_array = np.asarray(data)
data_reshape = data_array.reshape(1, -1)
prediction = model.predict(data_reshape)
if(prediction[0] == 1):
    print('Heart Disease')
else:
    print('No Heart Disease')

No Heart Disease