In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif
from sklearn.tree import DecisionTreeClassifier

# Load the dataset
data = pd.read_csv('heart.csv')

# Separate the features and target variable
X = data.drop('target', axis=1)
y = data['target']

# Apply One-R feature selection to select the top 10 features
estimator = DecisionTreeClassifier(random_state=0)
selector = SelectKBest(mutual_info_classif, k=10)
selector.fit(X, y)

# Get the indices of the selected features
mask = selector.get_support()
selected_features = X.columns[mask]

# Print the selected features
print(selected_features)

Index(['age', 'cp', 'trestbps', 'chol', 'thalach', 'exang', 'oldpeak', 'slope',
       'ca', 'thal'],
      dtype='object')

In [3]:
dataset = data[selected_features]

In [4]:
dataset

      age  cp  trestbps  chol  thalach  exang  oldpeak  slope  ca  thal
0      52   0       125   212      168      0      1.0      2   2     3
1      53   0       140   203      155      1      3.1      0   0     3
2      70   0       145   174      125      1      2.6      0   0     3
3      61   0       148   203      161      0      0.0      2   1     3
4      62   0       138   294      106      0      1.9      1   3     2
...   ...  ..       ...   ...      ...    ...      ...    ...  ..   ...
1020   59   1       140   221      164      1      0.0      2   0     2
1021   60   0       125   258      141      1      2.8      1   1     3
1022   47   0       110   275      118      1      1.0      1   1     2
1023   50   0       110   254      159      0      0.0      2   0     2
1024   54   0       120   188      113      0      1.4      1   1     3

[1025 rows x 10 columns]

In [6]:
X = dataset
Y = y

In [7]:
#Data standardisation
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [8]:
#Train,Test,Split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, stratify = Y,random_state = 2)

In [9]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()

In [10]:
classifier.fit(X_train, Y_train)

DecisionTreeClassifier()

In [11]:
Y_pred = classifier.predict(X_test)

In [12]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(Y_test, Y_pred))
print(classification_report(Y_test, Y_pred))

[[147   3]
 [  6 152]]
              precision    recall  f1-score   support

           0       0.96      0.98      0.97       150
           1       0.98      0.96      0.97       158

    accuracy                           0.97       308
   macro avg       0.97      0.97      0.97       308
weighted avg       0.97      0.97      0.97       308

In [13]:
#Finding the accuracy score on training dataset
from sklearn.metrics import accuracy_score
X_train_prediction = classifier.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction, Y_train)
train_data_accuracy

1.0

In [14]:
#Finding the accuracy score on test dataset
from sklearn.metrics import accuracy_score
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
test_data_accuracy

0.9707792207792207